{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    <p>Please check your name and password</p>
    <p>use the following steps to Login.</p>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p>
                <input type="submit" value="Log-in">
            </p>
        </form>
        <p>
            <a href="#">Forgetten your password?</a>
        </p>
    </div>
{% endblock %}